<p>Value of num1: {{num1}}</p>
<p>Value of num2: {{num2}}</p>
<p>Value of Sum: {{sum}}</p>

<br> <br>
<hr>
<input type="text" value="{{inpulVal}}" disabled="{{isDisabled}}">
<br><br>
<input type="text" [value]="inpulVal" [disabled]="isDisabled">

<img [src]="imgSrc" alt="">

<button type="button" (click)="display('Welcome ')">Click</button>

<h1 (dragover)="incr()">Increment - {{counter}}</h1>

<input type="text" (keydown.enter)="onKeyDown()">
<h2 (keypress)="incr">Keyboard element - {{counter}}</h2>
<hr>
<input type="text" (focus)="onFocus()">
