<p>Value of num1: {{num1}}</p>
<p>Value of num2: {{num2}}</p>
<p>Value of Sum: {{sum}}</p>

<br> <br>
<hr>
<input type="text" value="{{inpulVal}}" disabled="{{isDisabled}}">
<br><br>
<input type="text" [value]="inpulVal" [disabled]="isDisabled">

<img [src]="imgSrc" alt="">

<button type="button" (click)="display('Welcome ')">Click</button>

<h1 (dragover)="incr()">Increment - {{counter}}</h1>

<input type="text" (keydown.enter)="onKeyDown()">
<h2 (keypress)="incr">Keyboard element - {{counter}}</h2>
<hr>
<input type="text" (focus)="onFocus()">

<hr>

<input type="text" (keydown)="isShift($event)">

<hr>

#two way binding
<br>
<input type="text" [(ngModel)]="staicInput" placeholder="Enter static input">
<br>
<input type="text" [(ngModel)]="dynamicInput" placeholder="Enter dynamic input">
<h1>{{dynamicInput}}</h1>

<hr>
<br>
#Assignment
<br>
<input type="text" [(ngModel)]="inputValue" placeholder="enter value here">
<br>
<button type="submit" (click)="show()">Show</button>
<br>
<h1>{{dynamicValue}}</h1>



<br>
<br>
<div class="cnt-exm">#counter example</div>
<br>
<div class="container">
<h1>Counter Example</h1>
    <div class="btn-container">
        <button (click)="counterMethod('decr')">--</button>
        <p>{{counterValue}}</p>
        <button (click)="counterMethod('incr')">++</button>
    </div>
</div>


